body {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #000;
  margin: 0;
  overflow-y: auto;
  min-width: 767px;
  min-height: 100vh;
  background: #fcfcfc;
  font-family: Frutiger, 'Roboto Condensed', sans-serif, arial;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857;
}

h1 {
  color: #ee6e73;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}