.test-result {

    .chart {
        width: 100%;
        height: 100px;
    }
    .test-progress {
        background: rgba(240, 173, 78, 0.5);
        position: relative;

        .test-progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            bottom: 0;
            background: rgba(92, 184, 92, 0.5);
        }
        .test-progress-text {
            text-align: center;
            position: relative;

            strong {
                font-size: 1.5em;
                display: block;
                line-height: 1.2em;
            }
            small {
                font-size: 0.8em;
                display: block;
                line-height: 1.4em;
            }
        }
    }
}
