<div class="table">
    <div class="thead">
        <div class="row">
            <div class="columns">
                <div class="x2">Changelist / Build</div>
                <div>Owner</div>
                <div class="x2">Time Started</div>
                <div>State</div>
                <div>Metrics</div>
                <div>Build</div>
                <div>Unit Test</div>
                <div>Functional Test</div>
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="row"
             ng-repeat="item in changelist"
             ng-class="{'success': item.state == 'Accepted' || item.state == 'Complete', 'info': item.state == 'Running', 'danger': item.state == 'Rejected', 'expandable': isExpandable(item), 'expanded': active == item.id}">
            <div class="columns" ng-click="expandItem(item)">
                <div class="x2">
                    <img class="log-icon" ng-src="assets/images/{{item.type}}.png">
                    {{item.title}}
                </div>
                <div>{{item.owner}}</div>
                <div class="x2">{{item.started}}</div>
                <div>{{item.state}}</div>
                <div>
                    <div progress part="item.metrics" ng-hide="active == item.id"></div>
                </div>
                <div>
                    <div progress part="item.build" ng-hide="active == item.id"></div>
                </div>
                <div>
                    <div progress part="item.unitTest" ng-hide="active == item.id"></div>
                </div>
                <div>
                    <div progress part="item.functionalTest" ng-hide="active == item.id"></div>
                </div>
            </div>
            <div class="details">
                <div class="details-content">
                    <a href="javascript:;" class="details-item details-metrics"
                       ng-class="{'success': item.metrics.state == 'Accepted' || item.metrics.state == 'Complete', 'danger': item.metrics.state == 'Rejected'}">
                        <h4>Metrics</h4>
                        <ul class="list-unstyled">
                            <li>
                                <strong>Test: </strong> {{item.metrics.items.test.value}}
                                <i class="glyphicon glyphicon-arrow-{{item.metrics.items.test.direction}}"></i>
                            </li>
                            <li>
                                <strong>Maintainability: </strong> {{item.metrics.items.maintainability.value}}
                                <i class="glyphicon glyphicon-arrow-{{item.metrics.items.maintainability.direction}}"></i>
                            </li>
                            <li>
                                <strong>Security: </strong> {{item.metrics.items.security.value}}
                                <i class="glyphicon glyphicon-arrow-{{item.metrics.items.security.direction}}"></i>
                            </li>
                            <li>
                                <strong>Workmanship: </strong> {{item.metrics.items.workmanship.value}}
                                <i class="glyphicon glyphicon-arrow-{{item.metrics.items.workmanship.direction}}"></i>
                            </li>
                        </ul>
                    </a>
                    <a href="javascript:;" class="details-item details-build"
                       ng-class="{'success': item.build.state == 'Accepted' || item.build.state == 'Complete', 'danger': item.build.state == 'Rejected'}">
                        <h4>Build</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="machine in item.build.items">
                                <img src="assets/images/computer.png"> {{machine}}
                            </li>
                        </ul>
                        <p class="text-center">{{item.build.when}}</p>
                    </a>
                    <a href="javascript:;" class="details-item details-unit-test"
                       ng-class="{'success': item.unitTest.state == 'Accepted' || item.unitTest.state == 'Complete', 'danger': item.unitTest.state == 'Rejected'}">
                        <h4>Unit Test</h4>
                        <div test-result test="item.unitTest"></div>
                    </a>
                    <a href="javascript:;" class="details-item details-functional-test"
                       ng-class="{'success': item.functionalTest.state == 'Accepted' || item.functionalTest.state == 'Complete', 'danger': item.functionalTest.state == 'Rejected'}">
                        <h4>Functional Test</h4>
                        <div test-result test="item.functionalTest"></div>
                    </a>
                    <div class="details-item details-result">
                        <h4 class="text-center">Result</h4>
                        <div ng-if="item.state=='Rejected'" class="text-danger text-center">
                            <div>Change Rejected</div>
                            <strong>{{item.reason}}</strong>
                            <button class="btn btn-primary">Find Issues</button>
                        </div>
                        <div ng-if="item.state=='Accepted'" class="text-warning text-center">
                            <div>Change Accepted</div>
                            <strong>Auto Merged</strong>
                            <button class="btn btn-primary">Merged Build</button>
                        </div>
                        <div ng-if="item.state=='Complete'" class="text-success text-center">
                            <strong>Complete</strong>
                            <button class="btn btn-primary">Deploy</button> to:
                            <select>
                                <option>Production</option>
                                <option>Staging</option>
                            </select>
                        </div>
                    </div>

                </div>
                <!--<div google-chart chart="myChartObject" style="height:150px; width:150px;"></div>-->
                <!--<div pie-chart passed="item.unitTest.passed" failed="item.unitTest.failed"></div>-->
            </div>
        </div>
    </div>
</div>