/* line 1, ../scss/_default.scss */
body {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #000;
  margin: 0;
  overflow-y: auto;
  min-width: 767px;
  min-height: 100vh;
  background: #fcfcfc;
  font-family: Frutiger, 'Roboto Condensed', sans-serif, arial;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857;
  overflow-y: scroll;
}

/* line 17, ../scss/_default.scss */
h1 {
  color: #ee6e73;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

/* line 1, ../scss/_table.scss */
.table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 0;
  font-size: 15px;
  color: #595959;
  line-height: 1.5;
}
/* line 10, ../scss/_table.scss */
.table .row {
  display: flex;
  flex-flow: column nowrap;
  background: #e1e1e1;
  margin-bottom: 10px;
  border-radius: 2px;
  position: relative;
}
/* line 18, ../scss/_table.scss */
.table .row .columns {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
/* line 25, ../scss/_table.scss */
.table .row .columns > div {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
}
/* line 32, ../scss/_table.scss */
.table .row .columns > div.x2 {
  flex-grow: 2;
}
/* line 35, ../scss/_table.scss */
.table .row .columns > div.x3 {
  flex-grow: 3;
}
/* line 39, ../scss/_table.scss */
.table .row a {
  color: #595959;
  /*font-weight: bold;*/
}
/* line 43, ../scss/_table.scss */
.table .row .td-actions {
  flex: 0 0 150px;
}
/* line 46, ../scss/_table.scss */
.table .row .details {
  overflow: hidden;
  height: 0;
  transition: .3s height ease-in;
}
/* line 51, ../scss/_table.scss */
.table .row .details .details-content {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
/* line 56, ../scss/_table.scss */
.table .row .details .details-content .details-item {
  /*display: flex;*/
  flex-grow: 1;
  flex-basis: 0;
  margin: 10px;
  padding: 10px;
}
/* line 64, ../scss/_table.scss */
.table .row .details .details-content .details-item h4 {
  margin-top: 0;
  display: block;
  width: 100%;
}
/* line 70, ../scss/_table.scss */
.table .row .details .details-content .details-item.success {
  border: 2px solid #5cb85c;
}
/* line 73, ../scss/_table.scss */
.table .row .details .details-content .details-item.danger {
  border: 2px solid #d9534f;
}
/* line 77, ../scss/_table.scss */
.table .row .details .details-content a.details-item, .table .row .details .details-content a.details-item:hover, .table .row .details .details-content a.details-item:focus, .table .row .details .details-content a.details-item:active {
  text-decoration: none;
}
/* line 80, ../scss/_table.scss */
.table .row .details .details-content a.details-item:hover {
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.75);
}
/* line 84, ../scss/_table.scss */
.table .row .details .details-content .details-build li, .table .row .details .details-content .details-unit-test li, .table .row .details .details-content .details-functional-test li {
  display: inline-block;
  text-align: center;
  width: 48%;
  vertical-align: middle;
}
/* line 90, ../scss/_table.scss */
.table .row .details .details-content .details-build li strong, .table .row .details .details-content .details-unit-test li strong, .table .row .details .details-content .details-functional-test li strong {
  font-size: 1.5em;
  display: block;
  line-height: 1.2em;
}
/* line 95, ../scss/_table.scss */
.table .row .details .details-content .details-build li small, .table .row .details .details-content .details-unit-test li small, .table .row .details .details-content .details-functional-test li small {
  font-size: 0.8em;
  display: block;
  line-height: 1.4em;
}
/* line 100, ../scss/_table.scss */
.table .row .details .details-content .details-build li img, .table .row .details .details-content .details-unit-test li img, .table .row .details .details-content .details-functional-test li img {
  max-width: 90%;
}
/* line 106, ../scss/_table.scss */
.table .row .details .details-content .details-result strong {
  font-size: 2em;
  margin-bottom: 10px;
  display: block;
  line-height: 1em;
}
/* line 112, ../scss/_table.scss */
.table .row .details .details-content .details-result .btn {
  margin-bottom: 10px;
}
/* line 118, ../scss/_table.scss */
.table .row.expandable {
  cursor: pointer;
}
/* line 125, ../scss/_table.scss */
.table .row.expanded .details {
  height: auto;
}
/* line 128, ../scss/_table.scss */
.table .row .progress {
  display: block;
  width: 100%;
  margin: 0;
}
/* line 137, ../scss/_table.scss */
.table .thead .row {
  background: transparent;
  color: #b9b9b9;
}
/* line 143, ../scss/_table.scss */
.table .tbody .row {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 146, ../scss/_table.scss */
.table .tbody .row.success {
  background: #dff0d8;
}
/* line 149, ../scss/_table.scss */
.table .tbody .row.warning {
  background: #fcf8e3;
}
/* line 152, ../scss/_table.scss */
.table .tbody .row.danger {
  background: #f2dede;
}
/* line 155, ../scss/_table.scss */
.table .tbody .row.info {
  background: #d9edf7;
}

/* line 3, ../scss/_test-result.scss */
.test-result .chart {
  width: 100%;
  height: 100px;
}
/* line 7, ../scss/_test-result.scss */
.test-result .test-progress {
  background: rgba(240, 173, 78, 0.5);
  position: relative;
}
/* line 11, ../scss/_test-result.scss */
.test-result .test-progress .test-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  background: rgba(92, 184, 92, 0.5);
}
/* line 19, ../scss/_test-result.scss */
.test-result .test-progress .test-progress-text {
  text-align: center;
  position: relative;
}
/* line 23, ../scss/_test-result.scss */
.test-result .test-progress .test-progress-text strong {
  font-size: 1.5em;
  display: block;
  line-height: 1.2em;
}
/* line 28, ../scss/_test-result.scss */
.test-result .test-progress .test-progress-text small {
  font-size: 0.8em;
  display: block;
  line-height: 1.4em;
}

/* line 5, ../scss/app.scss */
.log-icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
